<div id=Strana>
    <div id="Korisnic" *ngFor='let korisnik of students'>
        <div id="LevaStrana">
            <div id="ProfilnaSlika"><img src={{korisnik.slika}}></div>

        </div>
        <div id="DesnaStrana">
            <div id="DesnoGore">
                <div>
                    <h2>{{korisnik.ime}} {{korisnik.prezime}}</h2>
                    <button (click)="funk(korisnik)">Detaljno</button>                    
                </div>
                <p>{{korisnik.grad}}</p>
            </div>
            <div id="DesnoDole">
                <div>Email:<div>{{korisnik.email}}</div>
                </div>
                <div>Grad:<div>{{korisnik.grad}}</div>
                </div>
                <div>Drzava:<div>{{korisnik.drzava}}</div>
                </div>
            </div>
        </div>
    </div>
    <app-detalji-student [studentDet]="selektovani"></app-detalji-student>
</div>



