
    <div id="Detalji">
        <h3>Podaci</h3>
        <p>ID: {{userDet?.id}}</p>
        <p>Ime: {{userDet?.name}}</p>
        <p>Email: {{userDet?.email}}</p>
        <p>Pol: {{userDet?.gender}}</p>
        <p>Status: {{userDet?.status}}</p>
        
    </div>
    <!--
        <div id="Detalji">
        <p>Ime: {{studentDet?.ime}}</p>
        <p>Prezime: {{studentDet?.prezime}}</p>
        <p>Email: {{studentDet?.email}}</p>
        <p>Adresa: {{studentDet?.adresa}}</p>
        <p>Grad: {{studentDet?.grad}}</p>
        <p>Drzava: {{studentDet?.drzava}}</p>
    </div>
    -->
