#Detalji{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: max-content;
    align-items: center;   
    background-color: deepskyblue;
    border: 1px gray dotted;
    padding: 5px;
    margin-left: 500px;
}

h3{
    border-bottom: solid 1px yellowgreen;
}